@page "/santa"
@attribute [StreamRendering(true)]

<PageTitle>Secret Santa Generator</PageTitle>

<h1>Secret Santa Generator</h1>

@code {

    protected override async Task OnInitializedAsync()
    {

    }
}
